<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <%- include('common/header') %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <form class = "container" method = "post" action = "/delete_reservation">
        <h2 class="text-dark">Delete Reservation</h2>
        <div class = "form-group">
            <div class = "form-group">
                <label for="type of stay"> Room to delete:</label>
                <select name="room">
                <% for(var i = 0; i < roomsList.length; i++) { %>
                <option value="<%= roomsList[i].room %>"><%= roomsList[i].room %></option>
                <%}%>
                </select>
            </div>
        </div>
        <button>Delete Reservation</button>
    </form>
    <%- include('common/footer') %>
</body>
</html>