<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <%- include('common/header') %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <form class = "container" method = "post" action = "/update_room">
        <h2 class="text-dark">Update Reservation</h2>
        <div class = "form-group">
            <label for="type of stay"> Room to update:</label>
            <select name="room">
            <% for(var i = 0; i < roomsList.length; i++) { %>
            <option value="<%= roomsList[i].room %>"><%= roomsList[i].room %></option>
            <%}%>
            </select>
        </div>
        <div class = "form-group">
            <label for="type of stay"> Price per night (£):</label>
            <select name="price">
            <option value=300>300</option>
            <option value=600>600</option>
            </select>
        </div>
        <div class = "form-group">
            Name of guest
            <input class = "form-control" name="reservation">
        </div>
        <div class = "form-group">
            <label for="type of stay">Type of Stay:</label>
            <select name="type">
            <option value="stayover">Stayover</option>
            <option value="departure">Departure</option>
            </select>
        </div>
        <button>Update Reservation</button>
    </form>
    <%- include('common/footer') %>
</body>
</html>