<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<form class = "container" method = "post" action = "/add">
    <div class = "form-group">
        <input class = "form-control" name="room">
    </div>
    <div class = "form-group">
        <input class = "form-control" name="price">
    </div>
    <div class = "form-group">
        <input class = "form-control" name="reservation">
    </div>
    <div class = "form-group">
        <input class = "form-control" name="type">
    </div>
    <button>Add Reservation</button>
</form>