<form action="/add" method="POST" id="add">
    <div class="new">
        <div class="form-group">
            <label for="room" class="text-light">Room Number</label>
            <input type="hidden" name="room" value="">
            <input type="text" name="room" value="">
        </div>
        <div class="form-group">
            <label for="price" class="text-light">Price per night (in pounds)</label>
            <input type="text" name="price" value="" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Reservation Name</label>
            <input type="text" name="reservation" value="">
        </div>
        <div class="form-group">
            <label for="type" class="text-light">Type of stay</label>
            <input type="text" name="time" value="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form> 